
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.google-font{
    font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}


main{
    width: 1240px;
    margin: 0 auto;
    /* background-color: darkcyan; */
}
.head{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}
.brand{
    font-size: 1.5rem;
    font-weight: 700;
    color: rgba(58, 58, 58, 1);
}
.link{
    
}
.list-style{
    text-decoration: none;
    list-style: none;
    margin: 10px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
}
.banner{
    background-image: url(./images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: right center;
}
.banner img{
        background-image: 100%;
}
.hero{
    display: flex;
    margin-top: 5rem;
    align-items: center;
    gap: 140px;
}
.hero-title{
    font-size: 3rem;
    font-family: 70px;
    color: rgba(58, 58, 58, 1);
    margin-bottom: 0;
    
}
.camare{
    max-width: 440px;
    height: 414px;
}
.hero-discription{
    font-weight: 700;
    color: black;
}
.button{
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    border-radius: 41px;
    border: none;
}
.isponsor{
    
    /* border: 1px solid rgba(192, 204, 218, 0.1); */
    box-shadow: 4px 4px 4px 4px rgba(192, 204, 218, 0.1);
    padding: 40px;
    margin-top: 100px;
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}
.contines{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.continer h1{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    color: rgba(58, 58, 58, 1);
    margin-top: 100px;
    margin-bottom: 30px;
}
.card-continer{
    width: 300px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    padding: 20px;
}
.card-continer h3{
    font-size: 28px;
    font-weight: medium;
    color: rgba(24, 25, 31, 1);
}
.card-continer h4{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}
.see{
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    text-align: end;
}
.feature{
    display: flex;
    /* width: 1120px;
    height: 210px; */
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.feature-one h1{
    font-size: 2.5rem;
    font-weight: 700px;
}
.paragraph{
    font-size: 16px;
    font-weight: 700;
    color: rgba(108, 108, 108, 1);
}
.join-nom{
     font-size: 16px;
    color: rgba(255, 255, 255, 1);
    background: rgba(224, 44, 109, 1);
    padding: 10px 24px;
    /* border-radius: 41px; */
    border: none;
}
.footer{
    background-color: black;
    text-align: center;
    padding: 50px 0;
}
.footer h3{
    font-size: 24px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
}
.footer p{
    font-size: 14px;
    font-weight: 700;
    color: rgba(217, 219, 225, 1);
}
.icon{
    color: white;
    gap: 20px;
}

.


@media screen and (max-width: 576px){
    .head, 
    .hero, 
    .contines,
    .isponsor,
    .feature{
        flex-direction: column;
    }
}
